<div class="col-12 mt-3">
    <h1>{{page_title}}</h1>

    <hr>

    <form class="col-4 ms-0 p-0" #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">

        <div class="form-floating mb-3">
            <input type="text" name="name"  #name="ngModel" [(ngModel)]="user.name" placeholder="write name" class="form-control" required pattern="[a-zA-Z]+">
            <label for="name">Name</label>
            <small class="text-danger fst-italic" *ngIf="!name.valid && name.touched">
                The name is wrong
            </small>
        </div>

    </form>
</div>
