<div class="container">
  <!-- nav bar -->
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">

      <i class="bi bi-camera-reels-fill fs-2 text-secondary" [routerLink]="['/home']" role="button"></i>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="identity">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/home']">My Videos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Save Favorites</a>
          </li>
        </ul>

        <ul class="navbar-nav navbar-right" *ngIf="!identity">
          <li ><a class="nav-link" [routerLink]="['/login']">Login</a></li>
          <li><a class="nav-link" [routerLink]="['/register']">Register</a></li>
        </ul>
  
        <ul class="navbar-nav navbar-right" *ngIf="identity">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{identity.name + ' ' + identity.surname}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- contenido -->
  <router-outlet></router-outlet>
</div>