<div class="container">
  <!-- nav bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-secondary rounded" >
  <!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #59a9e2;"> -->
    <div class="container-fluid">

      <img _ngcontent-dpy-c35="" src="/assets/img/video-3.svg" [routerLink]="['/home']" role="button" style="width: 50px;" class="me-2" tabindex="0">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="identity">
          <li class="nav-item">
            <a class="nav-link active text-light" aria-current="page" [routerLink]="['/home']">My Videos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" [routerLink]="['/save-favorites']">
              <i class="bi bi-plus-circle-fill"></i> Add video
            </a>
          </li>
        </ul>

        <ul class="navbar-nav navbar-right" *ngIf="!identity">
          <li ><a class="nav-link text-light" [routerLink]="['/login']">Login</a></li>
          <li><a class="nav-link text-light" [routerLink]="['/register']">Register</a></li>
        </ul>
  
        <ul class="navbar-nav navbar-right" *ngIf="identity">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{identity.name + ' ' + identity.surname}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" [routerLink]="['/settings']">Settings</a></li>
              <li>
                <a class="dropdown-item" [routerLink]="['/logout/1']">
                  <i class="bi bi-box-arrow-left"></i> Logout
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- contenido -->
  <router-outlet></router-outlet>
  
  <footer class="mt-5">
    <hr>
    <p align="center" class="text-secondary">javierfolder.com</p>
  </footer>
</div>